# Hugo output
/public/
/resources/_gen/
hugo_stats.json

# Hugo config artifacts
/assets/jsconfig.json

# Hugo executables
hugo.exe
hugo.darwin
hugo.linux

# Build lock
.hugo_build.lock

# OS / Editor files (optional but recommended)
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/